.main-container{
    background-color: #3b3636;
    min-height: 777px;
    position: relative;
}
.page-not-found h1 {
    position: relative;
    z-index: 1000;
    font-size: 124px;
    color:white;
}