.home {
    background-color: #3b3636;
    min-height: 777px;
    /*position: relative;*/
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}